<section class="w-768">
  <div class="profile">
    <% if @user.image? %>
    <%= image_tag @user.image.url %>
    <% else %>
    <%= image_tag("no-image.png") %>
    <% end %>
    <p><%= @user.name %></p>
    <% if @user.profile? %>
    <p class="profile_text"><%= @user.profile %></p>
    <% end %>

    <% if @user.id == current_user.id %>
    <button class="btn_common c-yellow w-100">
      <%= link_to 'プロフィールの編集', edit_user_registration_path %>
    </button>
    <button class="btn_common c-red w-100">
      <%= link_to 'ユーザー情報の削除', user_path, method: :delete, data: {confirm: "アカウントを削除しますか？"}  %>
    </button>
    <% end %>
  </div>

  <hr>

  <div class="reserved_event">
    <p class="reserved_event_h">参加予定の勉強会</p>
    <% @user_events.each do |event| %>
    <p>
      ○<%= link_to event.name, event_path(event.id) %>
      <% if event.event_user?(current_user) %>
      <!-- ログインしているユーザーが参加中かどうかで分岐 -->
      <% if @user.id == current_user.id %>
      <span class="cancel"><%=link_to "×", event_event_users_path(event.id), method: :delete %></span>
      <% end %>
      <% end %>
    </p>
    <% end %>
  </div>

</section>
