<section>
  <h1><%= @event.name %></h1>
  <div class="thumbnail-box">
    <% if @event.thumbnail? %>
    <%= image_tag @event.thumbnail.url %>
    <% else %>
    <%= image_tag("no-thumbnail.jpg") %>
    <% end %>
  </div>

  <div class="event_contents">
    <p><%= @event.contents %></p>
  </div>

  <button class="btn_common">
    <%= link_to 'イベントの編集', edit_event_path %>
  </button>

  <button class="btn_common">
    <%= link_to '勉強会をやめる', event_path, method: :delete, data: {confirm: "イベントを削除しますか？"}  %>
  </button>

</section>
