<section class="w-768">
  <h1><%= @event.name %></h1>
  <div class="thumbnail-box">
    <% if @event.thumbnail? %>
    <%= image_tag @event.thumbnail.url %>
    <% else %>
    <%= image_tag("no-thumbnail.jpg") %>
    <% end %>
  </div>

  <div class="event_contents">
    <%= @event.contents %>
  </div>

  <% if @event.user_id == current_user.id %>
  <button class="btn_common c-yellow w-49">
    <%= link_to 'イベントの編集', edit_event_path %>
  </button>

  <button class="btn_common c-red w-49">
    <%= link_to '勉強会をやめる', event_path, method: :delete, data: {confirm: "イベントを削除しますか？"}  %>
  </button>

  <% end %>

</section>
